@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700,500');
html,
body,
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: #252525;
  color: #cfcfcf;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  color: #aa1b30;
  font-size: 150%;
}
a {
  cursor: pointer;
  color: #cfcfcf;
  text-decoration: none;
}
a:hover {
  color: #aa1b30;
}
.loading {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.content {
  margin: 0 10%;
  padding: 2em;
}
.menu {
  background-color: #1d1c1c;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 0 10%;
}
.menu a {
  border-bottom: 2px solid #1d1c1c;
}
.menu a:hover {
  border-bottom: 2px solid #7f0b1c;
}
.menu a.brand {
  float: left;
  padding: 1em 2em 0.5em;
  color: #aa1b30;
  transition: 1s;
}
.menu a.brand:hover {
  border-bottom: 2px solid #1d1c1c;
}
.menu a.brand:hover img {
  position: relative;
  top: -0.3em;
}
.menu a.brand span {
  font: 20pt 'Oswald', sans-serif;
  position: relative;
  top: -0.3em;
}
.menu a.brand img {
  height: 2em;
  padding-right: 2em;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.menu ul li {
  float: right;
}
.menu ul li a.menu-item {
  font-size: 120%;
  display: block;
  padding: 1em 2em;
}
.button {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.button-default {
  color: white;
  background: #1d1c1c;
  margin: 1em;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  font-size: 14pt;
  line-height: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-default:hover {
  background-color: #000000;
}
.button-default:active,
.button-defaultfocus {
  background-color: #030303;
}
.button-default i.badge {
  margin-right: 1.2em;
}
.button-primary {
  color: white;
  background: #aa1b30;
  margin: 1em;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  font-size: 14pt;
  line-height: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-primary:hover {
  background-color: #520d17;
}
.button-primary:active,
.button-primaryfocus {
  background-color: #7e1424;
}
.button-primary i.badge {
  margin-right: 1.2em;
}
.button-google {
  color: #cfcfcf;
  background: #1d1c1c;
  margin: 1em;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  font-size: 14pt;
  line-height: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font: 500 14pt 'Roboto', sans-serif;
  padding: 0.56em 0.56em 0.56em 3.5em;
  background: #1d1c1c url('../img/btn_google_light_normal_ios.svg') 0 0 no-repeat;
}
.button-google:hover {
  background-color: #000000;
}
.button-google:active,
.button-googlefocus {
  background-color: #030303;
}
.button-google i.badge {
  margin-right: 1.2em;
}
input {
  color: white;
  background: #1d1c1c;
  margin: 1em;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  font-size: 14pt;
  line-height: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: 'Roboto', sans-serif;
}
input:hover {
  background-color: #000000;
}
input:active,
inputfocus {
  background-color: #030303;
}
input i.badge {
  margin-right: 1.2em;
}
