@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

@theme-primary: #FF0037;
@theme-primary-shade: #BF0029;

@theme-dark: #323332;
@theme-dark-bg: #3F403F;
@theme-dark-contrast: #4C4D4C;

@theme-dark-text-shade: #8A8C8A;
@theme-dark-text: #C9CCC9;

