@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700,500');
.button {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.button-default {
  color: white;
  background: #1d1c1c;
  margin: 1em;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  font-size: 14pt;
  line-height: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-default:hover {
  background-color: #000000;
}
.button-default:active,
.button-defaultfocus {
  background-color: #030303;
}
.button-default i.badge {
  margin-right: 1.2em;
}
.button-google {
  color: #cfcfcf;
  background: #1d1c1c;
  margin: 1em;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  font-size: 14pt;
  line-height: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font: 500 14pt 'Roboto', sans-serif;
  padding: 0.56em 0.56em 0.56em 3.5em;
  background: #1d1c1c url('../img/btn_google_light_normal_ios.svg') 0 0 no-repeat;
}
.button-google:hover {
  background-color: #000000;
}
.button-google:active,
.button-googlefocus {
  background-color: #030303;
}
.button-google i.badge {
  margin-right: 1.2em;
}
input {
  color: white;
  background: #1d1c1c;
  margin: 1em;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  font-size: 14pt;
  line-height: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: 'Roboto', sans-serif;
}
input:hover {
  background-color: #000000;
}
input:active,
inputfocus {
  background-color: #030303;
}
input i.badge {
  margin-right: 1.2em;
}
