@import "@variables";
@import "@mixins";

.menu {
    background-color: @theme-dark;
    overflow: auto;
    .nospacing();
    padding: 0 10%;
    a {
        border-bottom: 2px solid @theme-dark;
        &:hover {
            border-bottom: 2px solid @theme-primary-shade;
        }
    }

    a.brand {
        float: left;
        padding: 1em 2em 0.5em;
        color: @theme-primary;
        transition: 1s;
        &:hover {
            border-bottom: 2px solid @theme-dark;
            img {
                position: relative;
                top: -0.3em;
            }
        }
        span {
            font: 20pt @font-heading;
            position: relative;
            top: -0.3em;
        }
        img {
            height: 2em;
            padding-right: 2em;
        }
    }

    ul {
        list-style-type: none;
        .nospacing();
        overflow: hidden;
        li {
            float: right;
            a.menu-item {
                font-size: 120%;
                display: block;
                padding: 1em 2em;
            }
        }

    }

}
