@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700,500');
.menu {
  background-color: #1d1c1c;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 0 10%;
}
.menu a {
  border-bottom: 2px solid #1d1c1c;
}
.menu a:hover {
  border-bottom: 2px solid #7f0b1c;
}
.menu a.brand {
  float: left;
  padding: 1em 2em 0.5em;
  color: #aa1b30;
  transition: 1s;
}
.menu a.brand:hover {
  border-bottom: 2px solid #1d1c1c;
}
.menu a.brand:hover img {
  position: relative;
  top: -0.3em;
}
.menu a.brand span {
  font: 20pt 'Oswald', sans-serif;
  position: relative;
  top: -0.3em;
}
.menu a.brand img {
  height: 2em;
  padding-right: 2em;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.menu ul li {
  float: right;
}
.menu ul li a.menu-item {
  font-size: 120%;
  display: block;
  padding: 1em 2em;
}
