<h2>Spotify test</h2>
<div class="container">
    <h1>Search for a Track</h1>
    <p>Type a track name and click on "Search".</p>
    <form id="search-form">
        <input #searchBox (keyup)="search(searchBox.value)" id="search-box" type="text" value="" placeholder="Search Track..."  />
        <button class="button-default" (click)="search(searchBox.value)"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <div id="results">
        <div *ngFor="let track of tracks | async" class="search-result">
            <img src="{{track.album.images[2].url}}"/>

            {{track.name}} by <span *ngFor="let artist of track.artists">{{artist.name}}</span>
        </div>
    </div>
</div>
